<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="bookmark" href="favicon.ico">
  <meta name="description" content="關於手作的那些小事。">


  <meta property="og:title" content="Dalla Goods">
  <meta property="og:description" content="關於手作的那些小事。">
  <meta property="og:type" content="website">
  <meta property="og:url" content=" https://redbeanhong.github.io/DallaGoods/">
  <meta property="og:image" content="favicon.ico">

  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link href="./src/assets/favicon.ico" rel="apple-touch-icon">
  <title>Dalla Goods</title>
<link rel="shortcut icon" href="/test/favicon.ico"><link href="/test/static/css/app.01a266c0b16457dac8a88a3c4eb666e1.css" rel="stylesheet"></head>

<body>
  <div id="app"></div>
  
<script type="text/javascript" src="/test/static/js/manifest.89b22ab9e166448e8731.js"></script><script type="text/javascript" src="/test/static/js/vendor.fda17ad00ad94791c2a7.js"></script><script type="text/javascript" src="/test/static/js/app.ca24d4177d8aea106d45.js"></script></body>

</html>