.navbar-primary {
  .navbar-brand {
    color: $navbar-primary-brand-color;

    @include hover-focus() {
      color: $navbar-primary-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-primary-color;

      @include hover-focus() {
        color: $navbar-primary-hover-color;
      }

      &.disabled {
        color: $navbar-primary-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-primary-active-color;
    }

    .nav-link-icon {
      color: $navbar-primary-icon-color;

      @include hover-focus() {
        color: $navbar-primary-hover-color;
      }

      &.disabled {
        color: $navbar-primary-disabled-color;
      }
    }

    .show > .nav-link-icon,
    .active > .nav-link-icon,
    .nav-link-icon.show,
    .nav-link-icon.active {
      color: $navbar-primary-icon-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-primary-color;
    border-color: $navbar-primary-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-primary-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-primary-color;
    a {
      color: $navbar-primary-active-color;

      @include hover-focus() {
        color: $navbar-primary-active-color;
      }
    }
  }
}

.nav--arrow {
  .nav-item {
    .nav-link {
      margin: auto;
      width: calc(100% - 50px);
      cursor: pointer;
      pointer-events: none;
      border-radius: 5px;
      position: relative;
      background-color: var(--info);
      color: var(--light);

      &.active {
        background-color: var(--primary);

        &:after {
          background-color: var(--primary);
        }
        &:before {
          border-left: 1rem solid var(--primary);
        }
      }

      &:after {
        content: '';
        position: absolute;
        background-color: var(--info);
        width: 25px;
        height: 15px;
        top: calc(50% - 7.5px);
        right: -25px;
        z-index: 1;
      }

      &:before {
        content: '';
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 1rem solid var(--info);
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translate(0, -50%);
      }

      &.last-child {
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}

.nav--line {
  .nav-item {
    .nav-link {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 0px;
        background-color: $navbar-primary-toggler-border-color;
      }

      &.active {
        color: $navbar-primary-color;

        &::after {
          width: 100%;
          transition: 0.5s;
          height: 4px;
          background-color: $navbar-primary-color;
        }
      }
    }
  }
}
